torch
groq
pinecone-client
langchain
langchain-community 
langchain-pinecone
langchain-huggingface
# pinecone[grpc]
unstructured
unstructured_inference
sentence-transformers
# docx2txt
# openpyxl
# onnx==1.16.1
# pi-heif
streamlit
